*{
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

.motivational{
    color: white;
    text-align: center;
}

.motivational img{
    border: 5px solid white;
    align-items: center;
    margin-top: 50px;
    width: 50%;
}

.motivational h1{
    font-size: 50px;
    margin-bottom: -10px;
}
